<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>

    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/adminroom.css">

    <script src="/scripts/studentToRoom.js" defer></script>

</head>
<body>
    <template id="modal-template">
        <div class="backdrop"></div>
        <div class="review">
        </div>
    </template>
 <template id="modal-content">
    <button id="close-review"><i class="material-icons">clear</i></button>            
    <h1>Add Hostelite</h1>
    <form action="/admin/room" method="POST">
        <input type="hidden" name="roomnumber" value="<%= roomnumber %>">
        <select name="ubstudent" id="plan"> 
            <option value="none" selected disabled hidden> 
              Select an Option 
          </option> 
          <%for(let student of nonbooked) {%>
            <option value="<%= student.fk_registrationid_booking %>"><%= student.fname %> <%= student.lname %></option> 
            <% } %>
        </select>
    <br>
    <button id="submit-review" type="submit">Add Student</button>    
</form>

 </template>  

    <header>
        <nav class="nav-wrapper">
            <div class="nav-space"></div>
            <div class="main-nav">
                <div class="main-nav-logo">
                    <p><i class="material-icons">location_city</i> Gemini Hostel Management system</p>
                </div>
                <div class="main-nav-content">
                    
                    <ul class="main-nav__items">
                       <button><a href="/userhome">BACK</a></button>
                    </ul>
    
                </div>
            </div>
            <div class="nav-space"></div>
        </nav>
    </header>
<main>
    <section class="section-one">
        <div class="section-content-wrapper">
            <div class="section-space"></div>
            <div class="section-content">
                <h1>Room Number: <%= roomnumber %> </h1>
                <table class="hostelites">
                    <tr>
                        <th>Name</th>
                    </tr>
                    <% for(let student of roomdetails) { %>
                    <tr>
                        <td><%= student.fname %> <%= student.lname %></td>
                        <td><i class="material-icons">clear</i></td>
                    </tr>
                    <% } %>
                   
                </table>
                <button id="showReview">Add Hostelite</button>
            </div>
            <div class="section-space"></div>
        </div>
    </section>
    
</main>
<footer>
    <h3>Hostel Management System <i class="material-icons">copyright</i></h3>
    <p>Avinash Payak</p>
    <p>avinashpayak@gmail.com</p>
</footer>
</body>
</html>