<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home</title>

    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/userhome.css">
</head>
<body>
    <!-- Header Start -->
 <!-- <header>
    <nav class="nav-wrapper">
        <div class="nav-space"></div>
        <div class="main-nav">
            <div class="main-nav-logo">
                <a href="index.html"><p><i class="material-icons">location_city</i> Gemini Hostel Management system</p></a>
            </div>
            <div class="main-nav-content">
                
                <ul class="main-nav__items">
                    <li class="main-nav__item"><a href="">About</a></li>
                    <li class="main-nav__item"><a href="">Gallery</a></li>
                    <li class="main-nav__item"><a href="">User Registration</a></li>
                    <li class="main-nav__item"><a href="">User Login</a></li>
                    <li class="main-nav__item btn-ctn"><i class="material-icons">security</i><a href=""> Admin Login</a></li>
                </ul>

            </div>
        </div>
        <div class="nav-space"></div>
    </nav>
</header> -->
<!-- Header End -->
<main>
    <section class="section-one">
        <div class="section-content-wrapper">
            <div class="section-space-one"></div>
            <div class="section-content-one">
                <div>
                    <h3>Registration ID: <%=student.registrationid %></h3>
                <h1><%= student.fname %> <%= student.lname %></h1>
                <h2><%= student.college %></h2>
                </div>
                <div class="view-details">
                    <ul>
                        <li><i class="material-icons">room</i> My Address</li>
                        <li><i class="material-icons">escalator_warning</i> Guardian Details</li>
                        <li><i class="material-icons">book</i> Booking Details</li>
                    </ul>
                    <button class="btn">View Profile</button>
                </div>
                
            </div>
            <div class="section-content-two">
                <div class="space">
                    <ul>
                        <li>Notices</li>
                        <li>Lost and found</li>
                    </ul>
                </div>
                <div class="options">
                    <form action="/logout" method='POST'>
                        <button type="submit">Logout</button>
                    </form>
                    <ul>
                        
                        <li><a href="/reviews">Reviews</a></li>
                        <li>Hostel Rules</li>
                        <li>Mess Timetable</li>
                    </ul>
                </div>
            </div>
            <div class="section-space-two"></div>
        </div>
        </section>

        <section class="section-two">
            <div class="section-content-wrapper">
                <div class="section-space"></div>
                <div class="section-content-one">
                    <h1>Notice Board</h1>
                    <!-- <h1>No Notices</h1> -->
                    <% let i = 1; for(const notice of notices) {  %>
                    <a href="/userhome/notice/<%= notice.noticeid %>">
                        <div class="notice">
                            <p><%= i %></p>
                            <p><%= notice.subject %></p>
                            <p><%= (notice.noticedate).toString().split('G')[0] %></p>
                        </div>  
                    </a>
                    <% i++; } %>
                </div>
                <div class="section-space"></div>
            </div>
        </section>
</main>

<footer>
    <h3>Hostel Management System <i class="material-icons">copyright</i></h3>
    <p>Avinash Payak</p>
    <p>avinashpayak@gmail.com</p>
</footer>


</body>
</html>